
$primary-color: #0A1B33;
$primary-dark-color: #283f5e;
$secondary-color: #ffffff;
$light-text-color: #dedede;

$background: #ECEFF1;

$neutral-gray-color: #BDBDBD;
$medium-gray-color: #455A64;
$dark-gray-color: #37474F;
$darker-gray-color: #263238;

$dark-text-color: #606472;
$success: #65b530;
$error: #fc413a;